[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "<1.24.0"
scipy = "*"
matplotlib = "*"
statsmodels = "*"
graphviz = "*"
tqdm = "*"
dill = "*"
numba = "*"
seaborn = "*"
ipywidgets = "*"
ipykernel = "*"
cython = "*"
ecohnet = {editable = true, path = "."}

[dev-packages]
pytest = "*"
wolframclient = "*"
black = "*"
isort = "*"
flake8 = "*"
line-profiler = "*"
gprof2dot = "*"

[requires]
python_version = "3.8"
